/*Página inicial*/

body{
  background-color: #f0f0f0 !important;
}

.lojaartmaxi{
  padding: 10px;
  color: white !important;
}
.main-header{
  background-color: rgb(72, 73, 131);
  border: black;
}

.navbar-nav{
  padding: 0px;
  margin: 0px;
  text-align: center;
  flex-direction: row;
  
}
.navbar a{
  color: white;
  padding: 15px;
  display: flex;
}
.navbar a:hover{
  color: white;
  background-color: rgb(53, 54, 97);
}

.page-footer{
  margin-top: 50px;
  bottom: 0px;
  width: 100%;
  border: black;
}

.ver_mais{
  flex: auto;
}

/*Dashboard*/
.dashboard-title-container{
  margin-bottom: 30px;
  margin-top: 30px;
}

.dashboard-products-container th{
  width: 25%;
}

/*Produtos*/

.grid img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

img {
  margin-left: 10px;
  border: 1px solid #555;
  border-radius: 10%;

}

.img-fluid{
  width: 500px;
  height: 500px;
}

.container-create-buttons{
  display: flex;
}

.container-create-buttons1,
.container-create-buttons2{
  padding: 5px;
}

.grid {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}


[class^="Cat"] {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5%;
    padding: 10px;
    margin: 5px;
    background-color: white;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
[class^="Cat"]:hover {

  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

[class^="Cat"] #saiba_mais{
  margin-left: 100px;
  margin-top: 150px;
}

.searchCategory{
  display: flex;
}

.searchSubmit{
  display: flex;
}

.gridRelated{
  padding: 30px;
  display: flex;
  width: 100px;
}
.relatedLeft{
    flex: 1;
    padding: 10px
}

.relatedRight{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

 /*Criar e editar Produto*/

 #product-create-container{
  padding:30px;
 }

 #product-create-container label{
  font-weight: bold;
 }


#product-create-container input,
#product-create-container select,
#product-create-container textarea{
  font-size: 15px;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;

}

.img-preview{
  margin-left: 10px;
  border: 1px solid #555;
  border-radius: 10%;
  height: 100px;
  width: auto;
}

/*Login e Cadastro*/


html, body {
    overflow-x: hidden;
}